ProjectNarnia/Saved/AutoScreenshot.png
ProjectNarnia/Content/Levels/ShowcaseMap.umap
ProjectNarnia/Intermediate/CachedAssetRegistry.bin
ProjectNarnia/Saved/Backup/ShowcaseMap_2015-08-24-19-02-14.umap
ProjectNarnia/Saved/Config/Windows/Editor.ini
ProjectNarnia/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ProjectNarnia/Saved/Logs/ProjectNarnia-backup-2015.08.24-19.01.47.log
ProjectNarnia/Saved/Logs/ProjectNarnia.log
ProjectNarnia/Saved/
ProjectNarnia/Intermediate/CachedAssetRegistry.bin
ProjectNarnia/Intermediate/