ProjectNarnia/Intermediate/
ProjectNarnia/Saved/
ProjectNarnia/Intermediate/CachedAssetRegistry.bin
ProjectNarnia/Saved/AutoScreenshot.png
ProjectNarnia/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ProjectNarnia/Saved/Logs/ProjectNarnia.log