UnrealProject/Intermediate/CachedAssetRegistry.bin
UnrealProject/Intermediate/CachedAssetRegistry.bin
UnrealProject/Saved/Config/Windows/EditorLayout.ini
UnrealProject/Saved/Logs/UnrealProject.log
UnrealProject/Saved/Autosaves/PackageRestoreData.json
UnrealProject/Saved/AutoScreenshot.png
UnrealProject/Saved/Config/Windows/EditorUserSettings.ini
UnrealProject/Saved/Config/Windows/Engine.ini